/* common */

body {
}

#fixed-header {
    position: fixed;
    top: 0;
    z-index: 5000;
    width: 100%;
    background-color: white;
}

#page-title {
    position: fixed;
    top: 55px;
    z-index: 4000;
    background-color: white;
    /*padding-top: 20px;*/
    padding-bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

    #page-title .row {
        background-color: rgba(108, 117, 125, 1);
        padding-top: 20px;
        padding-bottom: 10px;
    }

#page-title-link {
    color: white;
    text-decoration: none;
}

.nav-item {
    font-family: Roboto,sans-serif;
    !important;
    font-size: 16px;
}

.aie-link {
    color: #262626 !important;
    font-weight: 400;
    font-size: 1.25rem;
}

.nav-link {
    color: #262626 !important;
    margin-left: 40px !important;
    font-weight: 300;
}

#nav {
    padding-left: 5px;
    color: white;
}
.navbar-toggler
{
    margin-right: -10px !important;
}
.ms-logo {
    margin-top: -3px;
    width: 100px;
    margin-right: 10px;
}


.logo {
    font-size: 18px !important;
    font-weight: 600;
    margin-left: 30px;
}

.active-menu {
    border-bottom: 2px solid #0094ff;
}

#upload-modal {
    z-index: 5000;
}

.upload-modal-header {
    padding: 5px;
    border: none;
}

.upload-modal-content {
    background-color: #ececec
}

#input-url {
    width: 70%;
    float: left;
    margin-left: 11px;
    border: solid 1px;
}

#browse-btn {
    width: 25%;
    margin-left: 4px;
    padding: 8px;
    font-size: 0.9em;
    color: white;
    border-radius: 0px;
    background-color: #6f6e6e;
    border: none;
}

.cog-icon {
    margin-right: 3px;
}

.browse-icon {
    margin-right: 5px;
}

#upload-predict-btn {
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 0;
}


/* explore page */
#gallery-items {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
    height: 90% !important;
    margin: 0 auto !important;
    margin-top: 165px !important;
    margin-bottom: 100px !important;
    width: 90%;
}

.search-container {
    width: 250px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#search-input {
    width: 200px;
    height:30px;
}

.header {
    text-align: center;
}

.img-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: black;
    padding: 0;
    margin-bottom: 10px !important;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;
}

.div-center {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}

.img-container:hover .image {
    opacity: 0.5;
    transform: scale(1.3);
}

.img-container:hover .div-center {
    opacity: 1;
}

.text {
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    cursor: pointer;
}

.add-more-images {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 8px;
    padding-bottom: 3px;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
    -webkit-box-shadow: 0 -3px 10px 0 rgba(0,0,0,.0785);
    box-shadow: 0 -3px 10px 0 rgba(0,0,0,.0785);
}

#prediction-modal {
    z-index: 9000;
}

.prediction-modal-dialog,
.prediction-modal-content {
    height: auto;
    width: 340px;
    position: fixed !important;
    left:50%;
    margin-left:-170px;
    top: 25px;
}

.result-img-container {
    margin-top: 10px;
}

#result-img {
    max-width: 190px;
    max-height: 190px;
    width: auto;
    height: auto;
}

#prediction-modal .modal-title {
    font-family: Roboto,sans-serif;
    font-size: 15px;
    color: black !important;
    margin-left: 50px;
}

.prediction-info {
    color: #675c5c;
    margin-bottom: 2px;
    font-weight: 400;
}

.prediction-species,
.prediction-species:hover {
    color: #000;
    text-decoration: underline
}

.progress-bar {
    background-color: green !important
}

.span-percentage {
    padding-top: 2px;
    color: #000 !important;
    font-weight: 700;
    font-size: .7rem;
    float: right;
    padding-right: 5px;
}

#overlay {
    position: relative;
    z-index: 5000
}

#additional-loading-msg {
    position: fixed;
    width: 190px;
    top: 40%;
    left: 50%;
    z-index: 9000;
    color: white;
    background-color: #656363;
    opacity: 0.7;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    font-size: 11pt;
    margin-left: -87px;
}

    #additional-loading-msg::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 8px;
        border-style: solid;
        border-color: #656363 transparent transparent transparent;
    }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 8px;
    padding-bottom: 3px;
    width: 100%;
    min-height: 70px;
    background-color: white;
    color: white;
    text-align: center;
    -webkit-box-shadow: 0 -3px 10px 0 rgba(0,0,0,.0785);
    box-shadow: 0 -3px 10px 0 rgba(0,0,0,.0785);
    z-index:9000;
}

.footer-centered div#footer-centered-container {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer #search {
    width: 240px;
    float: left;
}

.footer #load-more-images {
    float: left;
    border: none;
    background-color: #0078D7;
    color: white;
    height: 30px;
    border-radius: 3px;
    padding: 3px;
    width: 150px;
    cursor: pointer;
    margin-left:8px;
}

@media screen and (max-width: 800px) {
    .footer #load-more-images {
        float: none;
        display: block;
        margin: 0 auto;
        margin-top: 10px !important;
        margin-bottom: 8px !important;
        background-color: #0078D7;
        color: white;
        height: 30px;
        border-radius: 3px;
        padding: 3px;
        width: 150px;
        cursor: pointer;
    }

    .footer #search {
        float: none;
        display: block;
        width: 240px;
        margin: 0 auto;
        margin-top: 8px !important;
    }

    .footer-centered div#footer-centered-container {
        position: relative;
        top: 0;
        left: 0;
        padding-top: 5px;
        transform: none;
        text-align: center
    }
}

#search-submit {
    display: inline;
}

#bottom-place-holder {
    positon: fixed;
    bottom: 0;
}
#about-content{
    color:black !important;
    margin-top:120px;
    padding: 50px;
}

#about-content a{
    text-decoration: underline;
}
